<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>medals/medal1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {186, 186}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7, 7}, {186, 186}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>medals/medal2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 753}, {186, 186}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7, 7}, {186, 186}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>medals/medal3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 565}, {186, 186}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7, 7}, {186, 186}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>medals/medal4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 377}, {186, 186}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7, 7}, {186, 186}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>medals/medal5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 189}, {186, 186}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7, 7}, {186, 186}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>textureFileName</key>
		<string>medals.png</string>
	</dict>
</dict>
</plist>
