<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>medals/medal1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {371, 372}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14, 14}, {371, 372}}</string>
			<key>sourceSize</key>
			<string>{400, 400}</string>
		</dict>
		<key>medals/medal2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1497}, {371, 372}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14, 14}, {371, 372}}</string>
			<key>sourceSize</key>
			<string>{400, 400}</string>
		</dict>
		<key>medals/medal3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1123}, {371, 372}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14, 14}, {371, 372}}</string>
			<key>sourceSize</key>
			<string>{400, 400}</string>
		</dict>
		<key>medals/medal4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 749}, {371, 372}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14, 14}, {371, 372}}</string>
			<key>sourceSize</key>
			<string>{400, 400}</string>
		</dict>
		<key>medals/medal5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 375}, {371, 372}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14, 14}, {371, 372}}</string>
			<key>sourceSize</key>
			<string>{400, 400}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>medals.png</string>
	</dict>
</dict>
</plist>
